@import "tailwindcss";

@plugin "daisyui" {
  themes: everdark --default, everdark --prefersdark;
}
/** daisyUI theme generator
  https://daisyui.com/theme-generator/
*/

@plugin "daisyui/theme" {
  name: "everdark";
  default: true;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: #121212;
  --color-base-200: #1a1a1a;
  --color-base-300: #222222;
  --color-base-content: oklch(87% 0.006 286.286);
  --color-primary: #783380;
  --color-primary-content: oklch(87% 0.006 286.286);
  --color-secondary: #9c7aa0;
  --color-secondary-content: oklch(87% 0.006 286.286);
  --color-accent: #5e2d66;
  --color-accent-content: oklch(87% 0.006 286.286);
  --color-neutral: oklch(26% 0 0);
  --color-neutral-content: oklch(87% 0.006 286.286);
  --color-info: oklch(50% 0.134 242.749);
  --color-info-content: oklch(87% 0.006 286.286);
  --color-success: #783380;
  --color-success-content: oklch(87% 0.006 286.286);
  --color-warning: oklch(55% 0.135 66.442);
  --color-warning-content: oklch(14% 0 0);
  --color-error: oklch(44% 0.177 26.899);
  --color-error-content: oklch(87% 0.006 286.286);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.21875rem;
  --size-field: 0.21875rem;
  --border: 0.5px;
  --depth: 0;
  --noise: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
